// Possibilities at node_modules/bootstrap/scss/_variables.scss
$background-primary: #34495e;
$background-secondary: #2c3e50;

$info: #326394;

#app {
    .card, .jumbotron {
        background-color: $background-secondary;
    }

    a {
        color: inherit;
    }
}